<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Admin Panel</title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="fontawesome/css/all.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/range_slider.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/swiper.min.css">
</head>

<script src="/socket.io/socket.io.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/hammer.min.js"></script>
{{#if addScript}}
<script src="js/interface_plugin.js"></script>
{{/if}}
<script src="js/nav_interface.js"></script>
<script src="js/konva.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<body class="bg-light">
    {{{body}}}
</body>

</html>