<launch>

  <include file="$(find panther_description)/launch/panther.launch"></include>

  <param name="robot_description" command="$(find xacro)/xacro '$(find panther_description)/urdf/panther.xacro'"/>

    <include file="$(find route_admin_panel)/launch/panel.launch"></include>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
        <rosparam file="$(find panther_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find panther_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find panther_navigation)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find panther_navigation)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find panther_navigation)/config/trajectory_planner_mix.yaml" command="load" />
        <rosparam file="$(find panther_navigation)/config/teb_planner_classic.yaml" command="load" />

        <remap from="cmd_vel" to="cmd_vel"/>
        <remap from="odom" to="odom"/>
        <remap from="scan" to="/scan"/>

    </node>

</launch>