<launch>

    <param name="use_sim_time" value="true"/>

    <include file="$(find rosbot_description)/launch/rosbot.launch"></include>

    <include file="$(find route_admin_panel)/launch/panel.launch"></include>

    <node pkg="move_base" type="move_base" name="move_base" output="screen">
        <param name="recovery_behavior_enabled" value="true"/>
        <param name="controller_frequency" value="10.0"/>
        <rosparam file="$(find rosbot_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find rosbot_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find rosbot_navigation)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find rosbot_navigation)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find rosbot_navigation)/config/trajectory_planner.yaml" command="load" />
    </node>

</launch>
